.nav{
    display: flex;
    gap: 33px;
    justify-content: center;
    margin-bottom: 12px;
    font-family: 'PT Serif', serif;

}
.three, .hrm{
    display: none;
}
.black{
    color: black;
    font-size: large;
    font-weight: bolder;
    padding-left:50px;
}
.horizontaline{
    width: 66%;
    height: 1px;
    margin-left: 252px;
    background-color: gray;
}
.the {
    transform: rotate(-90deg);
    font-size: 20px;
    display: block;
    font-family: 'PT Serif', serif;
    /* margin-top: 1%; */
    color: grey;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%; 
    margin-top: 4px;  
}

@media screen and (min-width:0px) and (max-width:370px){
    .three{
        display: block;
        width:80px;
        position: relative;
        left: 350%;
        bottom:90px;
    }
    .hrm{
        display: block;
        width: 1000px;
        margin-left: 150px;
        }
           
    .nav{
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        gap:20px;
        margin-left: 25px;
        width: 1410px;
        background-color: rgb(168, 166, 166); 
    }
    .black{
        font-size: 50px;
    }
    .horizontaline{
        display:none;
    }
     .heading{
        display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-left: 15%;
    margin-top: 20px;
    } 
    .the{
        transform: rotate(-90deg);
        font-size: 50px;
        font-family: 'PT Serif', serif;
        margin-top: 1%;
        color: grey; 
    }
    
}
@media screen and (min-width:371px) and (max-width:800px){       
    .nav{
        display: flex;
        /* border-radius: 15px; */
        /* flex-direction: column; */
        gap:10px;
        margin-left: 60px;
        width: 1200px;
        background-color: rgb(168, 166, 166); 
    }
    .the{
        font-size: 50px;
    }
    .heading{
        font-size: 60px;
        margin-left: 400px;
    }
    .black{
        font-size: 35px;
    }
    .horizontaline{
        /* display:none; */
        width: 1300px;
        margin-left: 0px;
    }
   
    
}