.nav{
    display: flex;
    gap: 33px;
    justify-content: center;
    margin-bottom: 12px;
    font-family: 'PT Serif', serif;

}
.three, .hrm{
    display: none;
}
.black{
    color: black;
    font-size: large;
    font-weight: bolder;
    padding-left:50px;
}
.horizontaline{
    width: 66%;
    height: 1px;
    margin-left: 252px;
    background-color: gray;
}
.the {
    transform: rotate(-90deg);
    font-size: 20px;
    display: block;
    font-family: 'PT Serif', serif;
    /* margin-top: 1%; */
    color: grey;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%; 
    margin-top: 4px;  
}

@media screen and (min-width:0px) and (max-width:360px){
    .three{
        display: block;
        width:40px;
        position: relative;
        left: 280px;
        bottom:45px;
    }
    .hrm{
        display: block;
        width: 250px;
        margin-left: 110px;
        }
           
    .nav{
        margin-top: -30px;
        display: flex;
        flex-direction: column;
        margin-left: -50px;
        gap:10px;
        background-color: rgb(168, 166, 166); 
    }
    .horizontaline,.image1,.image2{
        display:none;
    }
    .heading{
        display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    padding-top: 10px;
    padding-left: 20px; 
    margin-left: -220px;
    }
    .the{
        transform: rotate(-90deg);
        font-size: 12px;
        font-family: 'PT Serif', serif;
        margin-top: 1%;
        color: grey; 
    }
    
}